In [395]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import StratifiedGroupKFold
from sklearn.base import clone
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_predict
#from sklearn.svm import SVC

In [396]:
data = pd.read_csv('/content/data_train.csv')
read = pd.DataFrame(data)
data

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,34,1,2,6,2,13,12,1,12,1,0,0.0,0,0,0,-,1
1,0,38,1,1,5,1,10,7,1,13,1,2,0.0,0,0,0,-,1
2,0,35,1,2,4,2,9,8,1,13,4,1,1.0,1,0,0,-,1
3,0,27,1,1,5,2,13,7,1,12,1,2,1.0,0,0,0,-,1
4,0,32,1,2,4,2,10,7,1,13,3,1,2.0,1,0,0,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8702,1,38,1,2,4,1,16,12,2,9,1,1,3.0,1,0,0,0,0
8703,1,32,1,2,4,1,4,1,2,12,1,1,1.5,1,0,0,0,0
8704,1,24,1,1,7,1,5,10,1,4,1,1,0.0,0,0,0,0,0
8705,1,31,1,2,4,1,1,6,2,7,1,1,0.0,0,3,6,237,0
8706,1,40,1,2,4,1,5,4,1,2,1,1,0.0,0,3,6,263,0

In [397]:
data.shape

(8707, 18)

In [398]:
data.describe()

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Changed_phone_number
count,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000
mean,0.923050,37.690479,1.147468,1.622488,4.540829,1.032043,10.485012,6.360859,1.462157,11.207190,1.119789,1.100838,2.132932,0.957505,0.547491,1.082807,0.112094
std,0.266527,10.750031,0.354592,0.484792,1.053161,0.176125,5.597442,3.405988,0.498594,3.020191,0.366915,0.315294,2.225331,0.201726,1.190702,2.447644,0.344394
min,0.000000,19.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,29.000000,1.000000,1.000000,4.000000,1.000000,6.000000,3.000000,1.000000,12.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,36.000000,1.000000,2.000000,4.000000,1.000000,13.000000,6.000000,1.000000,12.000000,1.000000,1.000000,1.700000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,44.000000,1.000000,2.000000,5.000000,1.000000,14.000000,9.000000,2.000000,13.000000,1.000000,1.000000,2.800000,1.000000,0.000000,0.000000,0.000000
max,1.000000,79.000000,2.000000,2.000000,7.000000,2.000000,22.000000,12.000000,2.000000,14.000000,5.000000,4.000000,86.300000,1.000000,4.000000,11.000000,3.000000

In [399]:
data.head()

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,34,1,2,6,2,13,12,1,12,1,0,0.0,0,0,0,-,1
1,0,38,1,1,5,1,10,7,1,13,1,2,0.0,0,0,0,-,1
2,0,35,1,2,4,2,9,8,1,13,4,1,1.0,1,0,0,-,1
3,0,27,1,1,5,2,13,7,1,12,1,2,1.0,0,0,0,-,1
4,0,32,1,2,4,2,10,7,1,13,3,1,2.0,1,0,0,-,1

In [400]:
data.isnull().sum()

label                   0
Age                     0
Language                0
Sex                     0
Marital                 0
Has_Credit              0
Field                   0
Month_of_birth          0
Day_of_birth            0
Region                  0
Number_of_credits       0
Linked_cards            0
INPS_mln_sum            0
INPS_yes_no             0
Score_level             0
Score_class             0
Score_point             0
Changed_phone_number    0
dtype: int64

In [401]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8707 entries, 0 to 8706
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   label                 8707 non-null   int64
 1   Age                   8707 non-null   int64
 2   Language              8707 non-null   int64
 3   Sex                   8707 non-null   int64
 4   Marital               8707 non-null   int64
 5   Has_Credit            8707 non-null   int64
 6   Field                 8707 non-null   int64
 7   Month_of_birth        8707 non-null   int64
 8   Day_of_birth          8707 non-null   int64
 9   Region                8707 non-null   int64
 10  Number_of_credits     8707 non-null   int64
 11  Linked_cards          8707 non-null   int64
 12  INPS_mln_sum          8707 non-null   float64
 13  INPS_yes_no           8707 non-null   int64
 14  Score_level           8707 non-null   int64
 15  Score_class           8707 non-null   int64
 16  Score_point           8707 non-null   object
 17  Changed_phone_number  8707 non-null   int64
dtypes: float64(1), int64(16), object(1)
memory usage: 1.2+ MB

In [402]:
data = data.replace({"-":0})

In [403]:
data['Score_point']

0         0
1         0
2         0
3         0
4         0
       ...
8702      0
8703      0
8704      0
8705    237
8706    263
Name: Score_point, Length: 8707, dtype: object

In [431]:
from sklearn.model_selection import train_test_split

In [432]:
X = data.drop('label', axis=1)  # Features
y = data['label']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [433]:
print(X_train.shape, X_test.shape)

(6094, 17) (2613, 17)

In [434]:
print(y_train.shape, y_test.shape)

(6094,) (2613,)

In [435]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict, KFold
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [436]:
num_folds = 5
model = LogisticRegression()
kf = KFold(n_splits=num_folds, shuffle=True, random_state=42)
cross_val_predictions = cross_val_predict(model, X, y, cv=kf)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [437]:
accuracy_cv = accuracy_score(y, cross_val_predictions)
conf_matrix_cv = confusion_matrix(y, cross_val_predictions)
class_report_cv = classification_report(y, cross_val_predictions)

In [438]:
print(accuracy_cv)
print(conf_matrix_cv)
print(class_report_cv)

0.9954059951762949
[[ 660   10]
 [  30 8007]]
              precision    recall  f1-score   support

           0       0.96      0.99      0.97       670
           1       1.00      1.00      1.00      8037

    accuracy                           1.00      8707
   macro avg       0.98      0.99      0.98      8707
weighted avg       1.00      1.00      1.00      8707

In [439]:
result_df = pd.DataFrame({'Actual': y, 'Predicted': cross_val_predictions})

# Display the DataFrame for the entire dataset
print("Results on Entire Dataset:")
print(result_df.head(50))

Results on Entire Dataset:
    Actual  Predicted
0        0          1
1        0          1
2        0          1
3        0          1
4        0          1
5        0          0
6        0          1
7        0          1
8        0          0
9        0          0
10       0          1
11       0          1
12       0          1
13       0          0
14       0          0
15       0          0
16       0          0
17       0          0
18       0          0
19       0          0
20       0          0
21       0          0
22       0          0
23       0          0
24       0          0
25       0          0
26       0          0
27       0          0
28       0          0
29       0          0
30       0          0
31       0          0
32       0          0
33       0          0
34       0          0
35       0          0
36       0          0
37       0          0
38       0          0
39       0          0
40       0          0
41       0          0
42       0          0
43       0          0
44       0          0
45       0          0
46       0          0
47       0          0
48       0          0
49       0          0

In [440]:
data2 = pd.read_csv('/content/data_test.csv')
read = pd.DataFrame(data2)
data2

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,40,1,2,4,1,0,3,1,12,2,1,2.4,1,0,0,-,1
1,0,36,2,2,4,1,0,5,1,13,1,2,0.0,1,0,0,-,1
2,0,31,1,2,4,1,0,7,1,13,1,1,0.3,0,0,0,-,2
3,0,29,1,2,4,1,0,1,1,13,1,1,0.9,1,0,0,-,1
4,0,38,1,2,4,1,0,10,1,13,1,2,4.3,0,4,2,318,1
5,0,33,1,2,4,1,0,9,1,13,1,2,0.8,0,3,6,263,1
6,0,34,1,1,5,1,0,4,1,12,1,2,0.1,1,0,0,-,1
7,0,28,1,2,4,1,0,8,1,13,1,1,1.6,1,0,0,-,1
8,0,33,1,1,5,1,0,6,1,13,1,2,3.7,0,2,8,108,1
9,0,35,1,1,5,1,0,10,1,13,1,1,0.8,0,0,0,-,1
10,0,25,1,2,6,1,0,4,1,12,1,1,5.0,1,0,0,-,1
11,0,29,1,2,4,1,0,5,1,12,2,1,1.1,1,0,0,-,1
12,0,34,1,1,5,1,0,9,1,12,1,1,2.2,0,0,0,-,1
13,0,24,1,2,6,1,0,11,1,12,1,1,0.6,1,0,0,-,1
14,0,51,2,1,2,1,0,11,1,12,1,2,3.0,1,0,0,-,1
15,0,47,1,2,4,1,0,11,1,13,1,1,3.3,0,0,0,-,1
16,0,57,1,2,3,1,0,8,1,13,1,1,2.8,0,3,5,212,1
17,0,33,1,2,6,1,0,10,1,12,1,1,1.9,1,0,0,-,1
18,0,36,1,2,4,1,0,8,1,12,1,3,4.0,1,0,0,-,1
19,0,22,1,2,6,1,0,1,1,13,2,1,1.8,1,0,0,-,2
20,0,27,1,2,6,1,0,7,1,11,1,1,1.1,0,3,7,285,1
21,0,44,1,2,4,1,0,10,1,12,1,1,0.4,1,0,0,-,1
22,0,26,1,2,6,1,0,9,1,13,1,1,5.2,1,0,0,-,1
23,0,35,1,2,4,1,0,7,1,10,1,1,1.3,1,0,0,-,1
24,0,26,1,2,6,1,0,8,1,12,1,2,2.6,1,0,0,-,1
25,0,29,1,2,6,1,0,3,1,12,2,1,4.3,0,3,7,285,1
26,1,38,1,1,5,1,10,5,1,13,1,2,2.4,1,0,0,0,0
27,1,56,1,2,4,1,14,2,2,13,2,2,0.4,1,0,0,0,0
28,1,48,1,2,4,1,13,8,2,11,2,1,5.1,1,0,0,0,0
29,1,51,1,2,4,1,2,1,2,13,1,2,2.0,1,0,0,0,0
30,1,56,1,1,5,1,2,8,2,13,1,1,0.2,1,0,0,0,0
31,1,69,1,1,5,1,20,10,2,13,2,1,4.6,1,3,5,232,0
32,1,43,2,2,4,1,11,6,2,13,2,1,5.1,1,0,0,0,0
33,1,38,2,1,5,1,11,1,1,13,1,1,0.8,1,0,0,0,0
34,1,52,2,1,2,1,13,8,2,13,1,1,3.1,1,0,0,0,0
35,1,31,1,2,6,1,3,10,2,13,2,1,0.8,1,0,0,0,0
36,1,35,1,2,4,1,4,7,1,13,1,1,2.3,1,0,0,0,0
37,1,48,1,1,1,1,16,8,1,13,1,2,0.4,1,0,0,0,0
38,1,34,1,2,4,1,4,1,1,13,2,1,3.0,1,0,0,0,0
39,1,29,1,1,7,1,13,10,1,12,1,1,0.8,1,3,6,264,1
40,1,31,1,1,5,1,16,3,2,12,1,2,4.7,1,3,6,254,0
41,1,37,1,1,5,1,13,1,2,13,2,1,1.8,1,0,0,0,0
42,1,54,1,2,4,1,1,3,1,13,1,2,3.9,1,0,0,0,0
43,1,66,1,1,5,1,10,6,2,12,1,1,0.8,1,0,0,0,0
44,1,33,1,1,7,1,10,7,1,13,1,2,1.2,1,0,0,0,0
45,1,42,1,2,4,1,7,2,1,13,1,1,2.1,1,0,0,0,0
46,1,36,1,2,4,1,16,12,2,11,1,1,0.5,1,0,0,0,0
47,1,26,2,2,6,1,1,2,1,13,1,1,1.1,1,0,0,0,0

In [441]:
data2 = data2.replace({"-":0})

In [442]:
data2

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,40,1,2,4,1,0,3,1,12,2,1,2.4,1,0,0,0,1
1,0,36,2,2,4,1,0,5,1,13,1,2,0.0,1,0,0,0,1
2,0,31,1,2,4,1,0,7,1,13,1,1,0.3,0,0,0,0,2
3,0,29,1,2,4,1,0,1,1,13,1,1,0.9,1,0,0,0,1
4,0,38,1,2,4,1,0,10,1,13,1,2,4.3,0,4,2,318,1
5,0,33,1,2,4,1,0,9,1,13,1,2,0.8,0,3,6,263,1
6,0,34,1,1,5,1,0,4,1,12,1,2,0.1,1,0,0,0,1
7,0,28,1,2,4,1,0,8,1,13,1,1,1.6,1,0,0,0,1
8,0,33,1,1,5,1,0,6,1,13,1,2,3.7,0,2,8,108,1
9,0,35,1,1,5,1,0,10,1,13,1,1,0.8,0,0,0,0,1
10,0,25,1,2,6,1,0,4,1,12,1,1,5.0,1,0,0,0,1
11,0,29,1,2,4,1,0,5,1,12,2,1,1.1,1,0,0,0,1
12,0,34,1,1,5,1,0,9,1,12,1,1,2.2,0,0,0,0,1
13,0,24,1,2,6,1,0,11,1,12,1,1,0.6,1,0,0,0,1
14,0,51,2,1,2,1,0,11,1,12,1,2,3.0,1,0,0,0,1
15,0,47,1,2,4,1,0,11,1,13,1,1,3.3,0,0,0,0,1
16,0,57,1,2,3,1,0,8,1,13,1,1,2.8,0,3,5,212,1
17,0,33,1,2,6,1,0,10,1,12,1,1,1.9,1,0,0,0,1
18,0,36,1,2,4,1,0,8,1,12,1,3,4.0,1,0,0,0,1
19,0,22,1,2,6,1,0,1,1,13,2,1,1.8,1,0,0,0,2
20,0,27,1,2,6,1,0,7,1,11,1,1,1.1,0,3,7,285,1
21,0,44,1,2,4,1,0,10,1,12,1,1,0.4,1,0,0,0,1
22,0,26,1,2,6,1,0,9,1,13,1,1,5.2,1,0,0,0,1
23,0,35,1,2,4,1,0,7,1,10,1,1,1.3,1,0,0,0,1
24,0,26,1,2,6,1,0,8,1,12,1,2,2.6,1,0,0,0,1
25,0,29,1,2,6,1,0,3,1,12,2,1,4.3,0,3,7,285,1
26,1,38,1,1,5,1,10,5,1,13,1,2,2.4,1,0,0,0,0
27,1,56,1,2,4,1,14,2,2,13,2,2,0.4,1,0,0,0,0
28,1,48,1,2,4,1,13,8,2,11,2,1,5.1,1,0,0,0,0
29,1,51,1,2,4,1,2,1,2,13,1,2,2.0,1,0,0,0,0
30,1,56,1,1,5,1,2,8,2,13,1,1,0.2,1,0,0,0,0
31,1,69,1,1,5,1,20,10,2,13,2,1,4.6,1,3,5,232,0
32,1,43,2,2,4,1,11,6,2,13,2,1,5.1,1,0,0,0,0
33,1,38,2,1,5,1,11,1,1,13,1,1,0.8,1,0,0,0,0
34,1,52,2,1,2,1,13,8,2,13,1,1,3.1,1,0,0,0,0
35,1,31,1,2,6,1,3,10,2,13,2,1,0.8,1,0,0,0,0
36,1,35,1,2,4,1,4,7,1,13,1,1,2.3,1,0,0,0,0
37,1,48,1,1,1,1,16,8,1,13,1,2,0.4,1,0,0,0,0
38,1,34,1,2,4,1,4,1,1,13,2,1,3.0,1,0,0,0,0
39,1,29,1,1,7,1,13,10,1,12,1,1,0.8,1,3,6,264,1
40,1,31,1,1,5,1,16,3,2,12,1,2,4.7,1,3,6,254,0
41,1,37,1,1,5,1,13,1,2,13,2,1,1.8,1,0,0,0,0
42,1,54,1,2,4,1,1,3,1,13,1,2,3.9,1,0,0,0,0
43,1,66,1,1,5,1,10,6,2,12,1,1,0.8,1,0,0,0,0
44,1,33,1,1,7,1,10,7,1,13,1,2,1.2,1,0,0,0,0
45,1,42,1,2,4,1,7,2,1,13,1,1,2.1,1,0,0,0,0
46,1,36,1,2,4,1,16,12,2,11,1,1,0.5,1,0,0,0,0
47,1,26,2,2,6,1,1,2,1,13,1,1,1.1,1,0,0,0,0

In [451]:
newX = data2.drop('label', axis=1)  # Features
newy = data2['label']  # Target variable

In [452]:
newX.head()

,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,40,1,2,4,1,0,3,1,12,2,1,2.4,1,0,0,0,1
1,36,2,2,4,1,0,5,1,13,1,2,0.0,1,0,0,0,1
2,31,1,2,4,1,0,7,1,13,1,1,0.3,0,0,0,0,2
3,29,1,2,4,1,0,1,1,13,1,1,0.9,1,0,0,0,1
4,38,1,2,4,1,0,10,1,13,1,2,4.3,0,4,2,318,1

In [453]:
newy.head()

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [454]:
from sklearn.model_selection import cross_val_predict, KFold

In [455]:
num_folds = 5
cross_val_predictions_new_data = cross_val_predict(model, newX, newy, cv=num_folds)
accuracy_cv_new_data = accuracy_score(newy, cross_val_predictions_new_data)
conf_matrix_cv_new_data = confusion_matrix(newy, cross_val_predictions_new_data)
class_report_cv_new_data = classification_report(newy, cross_val_predictions_new_data)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [456]:
print(f"Cross-Validated Accuracy on New Data: {accuracy_cv_new_data:.3f}")
print("\nConfusion Matrix (New Data):")
print(conf_matrix_cv_new_data)
print("\nClassification Report (New Data):")
print(class_report_cv_new_data)

Cross-Validated Accuracy on New Data: 0.958

Confusion Matrix (New Data):
[[26  0]
 [ 2 20]]

Classification Report (New Data):
              precision    recall  f1-score   support

           0       0.93      1.00      0.96        26
           1       1.00      0.91      0.95        22

    accuracy                           0.96        48
   macro avg       0.96      0.95      0.96        48
weighted avg       0.96      0.96      0.96        48

In [457]:
result_df = pd.DataFrame({'Actual': newy, 'Predicted': cross_val_predictions_new_data})

# Display the DataFrame for the entire dataset
print("Results on Entire Dataset:")
print(result_df.head(47))

Results on Entire Dataset:
    Actual  Predicted
0        0          0
1        0          0
2        0          0
3        0          0
4        0          0
5        0          0
6        0          0
7        0          0
8        0          0
9        0          0
10       0          0
11       0          0
12       0          0
13       0          0
14       0          0
15       0          0
16       0          0
17       0          0
18       0          0
19       0          0
20       0          0
21       0          0
22       0          0
23       0          0
24       0          0
25       0          0
26       1          1
27       1          1
28       1          1
29       1          1
30       1          1
31       1          1
32       1          1
33       1          1
34       1          1
35       1          0
36       1          1
37       1          1
38       1          1
39       1          1
40       1          1
41       1          1
42       1          1
43       1          1
44       1          1
45       1          1
46       1          1